.about-me-division{
    color: white;
    background-color: tomato;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
}

.para-class-of-about{
    padding: 10px;
    text-align: justify;
}