.check-btn{
    background-color: tomato;
    border: none;
}

.confirm-photo{
    width: 100%;
    
    border-radius: 20px;
    padding: 5px;
}

.section-confirm{
    border: 2px solid tomato;
    border-radius: 20px;
    padding: 10px;
    background-color: aqua;

}

.section-confirm p{
    padding: 10px;
}

/* @media only screen and (max-width: 575px){
    .confirm-division{
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 575px) and (max-width: 992px){
    .confirm-division{
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        width: 100%;
    }
} */

