.check-btn{
    background-color: tomato;
    border: none;
}

.confirm-photo{
    width: 100%;
    
    border-radius: 20px;
    padding: 5px;
}

.section-confirm{
    border: 2px solid tomato;
    border-radius: 20px;
    padding: 10px;
    background-color: aqua;

}

.section-confirm p{
    padding: 10px;
}

.section-confirm:hover{
    color: white;
    background: linear-gradient(#ff5252, #b33939);
  transition:.6s;
}
