.single-service{
   border: 1px solid tomato; 
   border-radius: 10px;
   padding-bottom: 10px;
   text-align: center;
}

.single-service img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.service-button{
    background-color: tomato;
    border: none;
}

.single-service:hover{
    color: white;
    background: linear-gradient(#ff5252, #b33939);
  transition:.6s;
}